* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  color: #1db954;
}

.all__wrapper {
  width: 450px;
  height: 1300px;
  margin: 0 auto;
}
.signup {
  width: 450px;
  margin: 0 auto;
}

.main img {
  margin: 40px 0;
}
.main {
  text-align: center;
}
.main h1 {
  font-size: 32px;
  font-weight: 750;
  letter-spacing: -0.05em;
  margin: 0 0 30px 0;
}
.main button {
  font-size: 16px;
  font-weight: 600;
  padding: 14px 32px;
  color: #fff;
  background-color: #1872f2;
  border: none;
  border-radius: 30px;
}
.main button:hover {
  transform: scale(1.04);
}
.terms {
  margin: 30px 0 0 0;
}
.terms span {
  font-size: 13px;
  font-weight: 550;
}
.terms input {
  width: 16px;
  height: 16px;
  background-color: #169b45;
  text-align: center;
  margin: 0px 8px 0 0;
}

.or {
  width: 382.5px;
  height: 24px;
  margin: 30px auto 1em;
  color: #7f7f7f;
  display: flex;
  justify-content: space-between;
  text-align: center;
  line-height: 24px;
  letter-spacing: 2px;
}
.or::before {
  border-top: 1px solid rgb(204, 204, 204);
  content: "";
  position: relative;
  top: 0.8em;
  width: 42%;
}
.or::after {
  border-top: 1px solid rgb(204, 204, 204);
  content: "";
  position: relative;
  top: 0.8em;
  width: 42%;
}

.inputs {
  width: 450px;
  margin: 0 auto;
}
.inputs .title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputs .title h1 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 15px;
}
.email {
  padding-bottom: 24px;
}
.email label {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  align-items: center;
  display: flex;
  font-weight: 700;
  width: 100%;
  padding-bottom: 8px;
}
.email input {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  border-radius: 4px;
  padding: 14px;
}

.personal-inform {
  display: flex;
  justify-content: space-between;
}

.checkboxs p {
  font-size: 14px;
  color: #181818;
  font-weight: 550;
  margin-top: -17px;
  padding-bottom: 24px;
}
.checkboxs h3 {
  font-size: 14px;
  color: #000;
  padding-bottom: 8px;
}
.checkboxs label {
  font-size: 14px;
  color: #000;
}
.day input {
  width: 90px;
  height: 52px;
  padding: 14px;
  margin-top: 8px;
  border: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px var(--essential-subdued, #868686);
}
.month input {
  width: 202px;
  height: 52px;
  border: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 8px;
  border-radius: 4px;
  padding: 14px 44px 14px 14px;
  box-shadow: inset 0 0 0 1px var(--essential-subdued, #868686);
}
.year input {
  width: 112px;
  height: 52px;
  border: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 8px;
  border-radius: 4px;
  padding: 14px;
  box-shadow: inset 0 0 0 1px var(--essential-subdued, #868686);
}


.others input,
label {
  font-weight: 550;
}
.gender p {
  font-size: 14px;
  color: #000;
  font-weight: 550;
  margin-top: 24px;
  padding-bottom: 8px;
}
.genders {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.genders input {
  background: #169b45;
  padding-top: 18px;
}
.genders label {
  font-size: 14px;
  padding: 0 32px 0 5px;
}

.send-news {
  margin-top: 30px;
}
.send-news label {
  font-size: 14px;
  color: #000;
}

.signup-button button {
  width: 152px;
  height: 56px;
  font-size: 16px;
  font-weight: 600;
  margin: 48px auto 0;
  display: flex;
  padding: 20px 45px;
  color: #000;
  background-color: #1ed760;
  border: none;
  border-radius: 30px;
}
.signup-button button:hover {
  transform: scale(1.04);
}
.login {
  display: flex;
  justify-content: center;
  margin: 26px auto;
  font-size: 16px;
  color: #000;
  font-weight: 500;
}
